# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TodoApi.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Greg\RiderProjects\TodoApi\.idea\.idea.TodoApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
